/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}

@import "animation";

$kurotobi: rgb(85, 66, 54);
$benitobi: rgb(153, 70, 57);
$haizakura: rgb(215, 196, 187);
$shironeri: rgb(255, 255, 251);
$sumi: rgb(28, 28, 28);
$sangoshu: rgb(241, 124, 103);

@import "loader";

body{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.2;
    background: $benitobi;
    color: $sumi;
}

.container{
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 0 2rem;
}

.choices{
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 1rem;
    padding: 1rem 0;
}

.choice{
    font-size: 8rem;
    padding: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.choice:hover{
    background: $haizakura;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2), 0px 7px 20px 0px rgba(0,0,0,0.17);
    transition: 0.2s;
}

.text-lose{
    color: $sumi;
}

@media(max-width: 700px){
    .loader h2{
        font-size: 2.5rem;
    }
    .choices{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 0;
    }
}

@media(max-width: 500px){
    .choice{
        font-size: 6rem;
        padding: 2rem;
    }
}

@import "model";
